
    body {
        /*background-image: url("/home/bridgeit/Desktop/FIREBASE/dc-Cover-kr40666livqf22db9e2026k710-20160312065429.Medi.jpeg");*/
        background-repeat: no-repeat;
        background-size: cover;
    }
    .dev{
          background-image: url("/home/bridgeit/Desktop/98527276.jpg");
          background-repeat: no-repeat;
          background-size: cover;
    }
